/* Basic styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 480px;
}

h1, h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

/* Add styles to the Nav menu */

header {
    width: 100%;
    background-image: url(../assets/main_board.png);
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
}

.header-content {
    margin: 0 auto;
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.company-name {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin: auto;
    margin-left: 27px;
}

.nav-links {
    flex: 1 1 auto;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    margin: 6px 16px;
}

.nav-links ul li a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-links li:last-child a {
    margin-right: 140px;
}

ul li:nth-child(2)::after {
    content: '';
    width: auto;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
}

.hamburger-menu {
    display: none;
}

/* Add styles to the hero section */

.hero-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hero-block h1 {
    max-width: 386px;
    padding: 0 20px;
    margin-top: 13px;
    margin-bottom: 42px;
}

.hero-block h3 {
    max-width: 426px;
}

/* Center the hero block */

.hero-block {
    height: 723px;
    justify-content: center;
}

/* Add styles to main block */

.main-block {
    background-color: #EEEEEE;
    min-height: 700px;
    height: 100%;
    margin-top: 0;
}

.main-block h2 {
    color: #464547;
    margin-bottom: 39px;
    max-width: 669px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 88px;
}

.main-block h3 {
    color: #666666;
    margin-bottom: 45px;
    max-width: 426px;
    margin-left: auto;
    margin-right: auto;
}

/* 2-col layout */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 83px;
    row-gap: 0;
    margin: 0 12%;
    padding: 0 27px;
}

.main-block p {
    min-height: 129px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.primary-button {
    background: #55C2D8;
    border-radius: 18px;
    border: none;
    width: 115px;
    height: 36px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 46px;
    margin-bottom: 98px;
}

.button {
    text-align: center;
}

/* Add styles to learn-more block */

.learn-more {
    background-image: url(../assets/background_pic_2.png);
    height: 666px;
    position: relative;
}

/* Add transparent background to the image  */

.learn-more::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(140, 79, 42, 0.3);
    height: 666px;
}

.learn-more h2 {
    width: 480px;
    height: 117px;
    margin-bottom: 53px;
}

.learn-more h3 {
    width: 390px;
    height: 102px;
}

.btn {
    background: #39C2D7;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    align-items: center;
    margin-bottom: 70px;
}

.btn img {
    padding-left: 10px;
}

.learn-more-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

/* Center the learn-more block */

.learn-more-center {
    height: 100%;
    justify-content: center;
}

/* Add styles to the footer */

footer {
    background-color: #464547;
    min-height: 170px;
}

/* 7-col grid layout */

.grid-footer {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: 49px 49px;
    padding: 52px 135px 0 153px;
}

.footer-logo {
    display: flex;
    text-align: center;
    grid-column: 1 / 2;
    align-items: center;
}

footer p, .footer-email {
    grid-column: 3 / 4;
}

footer .copyright {
    grid-column: 6 / 8;
    justify-self: end;
}

footer .company-name {
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 20px;
}

footer p {
    margin: 0;
    width: 174px;
    height: 33px;
    left: 140px;
    top: 2217px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

small {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footer-email a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

/* On screens that are 768px or less */

@media all and (max-width: 768px) {
    /* header styles */
    header .company-name {
        margin-left: 27px;
    }
    .nav {
        text-align: center;
    }
    .hamburger-menu {
        display: inline-block;
        margin: 0 27px 0 0;
        color: white;
        font-size: 22px;
        text-align: right;
    }
    
    nav .links {
        display: none;
    }
    /* main-section styles */
    .main-block {
        max-height: 990px;
        margin-left: 0px;
        margin-right: 0px;
        align-items: left;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: auto;
        row-gap: 20px;
        text-align: left;
        margin: 0;
    }
    .subtitle2 h2 {
        margin-left: 27px;
        margin-right: 103px;
        min-width: 350px;
        text-align: left
    }
    .subtitle3 {
        margin-left: 27px;
        margin-right: 27px;
        min-width: 453px;
        margin-bottom: 28px;
    }
    .subtitle3 h3 {
        text-align: left;
        margin-left: 0;
        margin-bottom: 28px;
    }
    .button {
        text-align: left;
        margin-left: 27px;
    }
    .primary-button {
        margin-top: 28px;
    }
    footer {
        max-height: 292px;
    }
    .grid-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo {
        margin-bottom: 24px;
    }
    footer p {
        margin-bottom: 24px;
    }
    .footer-email {
        margin-bottom: 18px;
    }
    .copyright {
        margin-bottom: 75px;
    }
}


/* Animation of primary button*/
.primary-button:hover {
    transform:rotate(15deg);
  transform-origin:left bottom;
  }